<header class="site-header">
	<div role='banner' class="header_cn">
		{{#if @blog.logo}}<a class="logo_cn" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
		<h1 class="blogtitle_cn">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
				{{{@blog.title}}}
			</a>
		</h1>
		<h2 class="blogdescription_cn">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
				{{@blog.description}}
			</a>
		</h2>
	</div>
</header>

