{{!< default}}
{{> header}}
<main class="main_cn" role="main">
	{{#foreach posts}}
		<article class="article_cn" role="article" itemscope itemtype="http://schema.org/Article">
			<header class="postheader_cn">
				<time class="date_cn" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
				<h1 class="posttitle_cn" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
			</header><!-- /header -->
		    {{! Full post content }}
			<div class="postcontent_cn" itemprop="articleBody">		    
				{{content}}
			</div>
		    {{! Read More post content }}
			{{! excerpt}}
			<div class="posttags_cn">
				{{#if tags}}
					Tags: {{tags separator=" | "}}
				{{/if}}
			</div>
		</article>
	{{/foreach}}

	{{#if pagination}}
		<div class="pagination_cn">	
			{{{pagination}}}
		</div>
	{{/if}}
</main>
{{> footer}}